
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1><strong>Pedidos</strong></h1>
<br>
<div>
    <P>NIT o CC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" size="25" maxlength="37" name="NIT">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telefono&nbsp; <input type="number" size="25" maxlength="37" name="Phone"></P>
    <P>Razon Social   <input type="text" size="40" maxlength="57" name="RAZON">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="25" maxlength="37" name="Email"> </P>
 </div>
<br />
<div color:Green>
    <p><strong>ARTICULO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CANTIDAD</strong></p>
</div>
    <div>
        <select name="Art1"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>
              
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" size="10" maxlength="15" name="cant1">
     </div>
<br>
<div>
    <select name="Art2"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant2">
</div>
<br><div>
    <select name="Art3"
                    <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>
        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant3">
</div>
<br>
<div>
    <select name="Art4"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant4">
</div>
<br>
<div>
    <select name="Art5"
         <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>       </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant5">
</div>
<br>
<div>
    <select name="Art6"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant6">
</div>
<br>
<div>
    <select name="Art7"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant7">
</div>
<br>
<div>
    <select name="Art8"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant8">
</div>
<br>
<div>
    <select name="Art9"
        <option value="1"></option>
            <option value="2">Seleccionar</option>
            <option value="3">Micropunta Pont 88 Est. X 30 Stabilo</option>
            <option value="4">Boligrafo Esfero Parker retactable Punto Medio x 1</option>
            <option value="5">Boligrafo Parker Vector Premium x 1</option>
            <option value="6">Resma papel carta repro caja x 10</option>
            <option value="7">Resma papel Oficio repro caja x 10</option>
            <option value="8">Tarjetas De Presentación Plast Brillantes 1000 Und</option>
            <option value="9">Poster adhesivo 80cm x 60cm Und</option>
            <option value="10">Porta Pendon Enrollable Roll Up 2 X 1 Metros</option>
            <option value="11">Banner Publicitario, Pendón Con Tubos U Ojaletes</option>
            <option value="11">Resaltador Sharpie X 13 Unidades</option>        </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="10" maxlength="15" name="cant9">
</div>
<br>
<input type="button" value="COTIZAR">
<input type="button" value="SALIR"  >

