@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Empresa dedicada a la venta <br />
    de diferentes articulos y servicios <br />
    publicitarios
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:lflombana@unipanamericana.edu.co">lflombana@unipanamericana.edu.co</a><br />
    <strong>Soporte:</strong> <a href="mailto:elfuentes@unipanamericana.edu.co">elfuentes@unipanamericana.edu.co</a>
</address>