@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
    <p class="lead">Bienvenido a su tienda de publicidad Online, donde podra regitrar sus ordenes de compra.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Publicidad</h2>
        <p>
            Elaboramos cualquier tipo de impresion de tarjetas de presentacion, volantes y similares.
        </p>
        <img src="C:\Users\luisl\source\repos\Publicitaria\Publicitaria\fonts\publicidad-exterior.jpg" height="200" width="300" >
   
    </div>
    <div class="col-md-4">
        <h2>Materiales e Implementos</h2>
        <p>Tenemos a dispocision diferentes utencilios relacionados con papeleria como lo son esferoz, cuadernos, etc.</p>
        <img src="C:\Users\luisl\source\repos\Publicitaria\Publicitaria\fonts\Materiales.jpg" height="200" width="300">
        
   
    </div>
    </div>